<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <link   rel="stylesheet"        th:href="@{/bootstrap/bootstrap.min.css}"></link>
    <script type="text/javascript" th:src="@{/validate/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/validate/messages_zh.min.js}"></script>
    <script type="text/javascript" th:src="@{/layer/layui.js}"></script>
    <link  rel="stylesheet"        th:href="@{/layer/css/layui.css}"></link>
    <script type="text/javascript" th:src="@{/md5.js}"></script>
    <script type="text/javascript" th:src="@{/common.js}"></script>
</head>
<body>
Hello
<!--<p th:text="'Hello:'+${user.nickname}'">-->
    <p th:text="'hello:'+${user.nickname}">
</body>
</html>
