<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bt.ms.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bt.ms.pojo.Order">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="deliver_addr_id" property="deliverAddrId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_count" property="goodsCount" />
        <result column="goods_price" property="goodsPrice" />
        <result column="order_channel" property="orderChannel" />
        <result column="order_status" property="orderStatus" />
        <result column="create_time" property="createTime" />
        <result column="pay_time" property="payTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, goods_id, deliver_addr_id, goods_name, goods_count, goods_price, order_channel, order_status, create_time, pay_time
    </sql>

</mapper>
